<% include ../layout/header.ejs %>

<% include ../layout/dashboard_icons.ejs %>

<div class="container">

<div class="col-md-12 text-center">
  <img src="/images/driver.jpg" width="20%" class="img-fluid" alt="Responsive image">
</div>

<form action="" method="post" enctype="">
  <div class="form-row">

      <%# firstname %>
    <div class="col-md-4 mb-3">
      <label>First name</label>
      <input name="firstname" type="text" class="form-control" value="<%= driver.firstname %>" required>
    </div>

    <%# lastname %>
    <div class="col-md-4 mb-3">
      <label>Last name</label>
      <input name="lastname" type="text" class="form-control" value="<%= driver.lastname %>" required>
    </div>


    <%# username %>
    <div class="col-md-4 mb-3">
      <label>Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input name="username" type="text" class="form-control" aria-describedby="inputGroupPrepend3" value="<%= driver.username %>" required>
      </div>
    </div>
  </div>


  <%# email %>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>Email <i class="fa fa-envelope" aria-hidden="true"></i></label>
      <input name="email" type="email" class="form-control" value="<%= driver.email %>" required>
    </div>

    <%# mobileNumber %>
      <div class="col-md-6 mb-3">
        <label>Mobile Number <i class="fa fa-mobile" aria-hidden="true"></i></label>
        <input name="mobileNumber" type="text" class="form-control" value="<%= driver.mobileNumber %>" required>
      </div>
    </div>

    <!-- Associated car -->
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Associated car</label>
        <select id="car" name="car" class="form-control">
          <option value="<%= driver.car %>" active><%= driver.car %></option>
        </select>
      </div>
    </div>

    <div class="text-center mb-3">
      <button class="btn btn-lg btn-dark" type="submit">Update</button>
    </div>

  </div>

</form>

<% include ../layout/footer.ejs %>
