<% include ../layout/header.ejs %>

<div class="container">

  <form id="selectCarForm" action="" method="post">

    <span class="d-block p-2 bg-light text-primary mb-3">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-check">
            <div class="row">
              <div class="col-md-6 text-primary">
                <h5>Step 1 : Ride Info</h5>
              </div>
              <div class="col-md-6">
                <h5 id="edit1" class="float-right"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>


    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Pick-Up Location</th>
          <td><%= rideInfoData.pLocation%></td>
          <th scope="row">Drop-Off Location</th>
          <td><%= rideInfoData.dLocation%></td>
        </tr>
        <tr>
          <th scope="row">Pick-Up Date & Time</th>
          <td><%= rideInfoData.pDate%> <%= rideInfoData.pTime%></td>
          <th scope="row">number Of Persons & luggage</th>
          <td><%= rideInfoData.numberOfPersons%> - <%= rideInfoData.numberOfLuggage%></td>
        </tr>
        <tr>
          <th scope="row">Distance(mile)</th>
          <td><%= rideInfoData.distance%></td>
          <th scope="row">Service Type</th>
          <td><%= rideInfoData.serviceType%></td>
        </tr>
      </tbody>
    </table>

    <span class="d-block p-2 bg-light text-primary mb-3">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-check">
            <label id="selectCar" class="form-check-label">
              <h5>Step 2 : Select Your Car</h5>
            </label>
          </div>
        </div>
      </div>
    </span>

    <div class="form-row">

      <% cars.forEach((car)=>{ %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <p class="card-text"><h2 class="text-center"><%= car.model %></h2></p>
            <img class="card-img-top" src="/images/<%= car.image %>" height="250px" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-center">$<%= car.charge.perMile.main %>/Mile</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"  ml-auto>
                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled><i class="fa fa-briefcase"></i> | <%= car.numberOfPersons %></button>
                </div>
                <button id="<%= car.carId %>" type="button" class="btn btn-lg btn-outline-primary submit">Book</button>
                <div class="btn-group"  ml-auto>
                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled mr-auto><i class="fa fa-users"></i> | <%= car.numberOfLuggage %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>

      <input id="carId" name="carId" type="text" readonly hidden>

    </div>
  </form>

</div>

<% include ../layout/footer.ejs %>
