<% include ../layout/header.ejs %>

<div class="container">

  <div class="form-row">

    <% cars.forEach((car)=>{ %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <p class="card-text"><h2 class="text-center"><%= car.model %></h2></p>
          <img class="card-img-top" src="/images/<%= car.image %>" height="250px" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-center">$<%= car.charge.perMile.main %>/Mile</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group"  ml-auto>
                  <button type="button" class="btn btn-sm btn-outline-secondary" disabled><i class="fa fa-briefcase"></i> | <%= car.numberOfPersons %></button>
              </div>
              <button id="<%= car._id %>" type="button" class="btn btn-lg btn-outline-primary editCar">Edit</button>
              <div class="btn-group"  ml-auto>
                  <button type="button" class="btn btn-sm btn-outline-secondary" disabled mr-auto><i class="fa fa-users"></i> | <%= car.numberOfLuggage %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }); %>

  </div>

</div>




<div class="col-md-12 text-center mb-5">
  <a href="/cars/add">
    <button class="btn btn-dark btn-lg" type="button" name="button">Add Car</button>
  </a>
</div>

<% include ../layout/footer.ejs %>
